.reserveinform {
    background-color: #D5D5E9;
    padding: 1.5em 1.5em;
    font-weight: bold;
    margin-top: 20px;
    border-radius: .5em;
}

.tab {
    width: 700px;
}
.tab input{
    border-radius: 3px;
    border: 1px solid #f7f7fa;
    background-color:#D5D5E9;
    color: rgb(51, 47, 47);
    font-weight: bold;
    padding: 8px 15px;
}
.tab input:hover{
    background-color:#fc6471;
    color: #fff;
}
.tabcontent {
    width: 700px;
}

.d-block {
    width: 80%;
    height: 40vh !important;
    margin: auto;
    margin-top: 1em;
}

.act_wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.act_wrap img {
    width: 3em;
    height: 3em;
}

.a_icon_circle {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: #f7f7fa;
    display: grid;
    place-items: center;
}

.item_text a {
    display: inline-block;
    /* background-color: #ffa; */
    width: 6em;
    text-align: center;
    letter-spacing: 6px;
    text-indent: 6px;
    color: #808080;
}

hr {
    width: 100%;
    border: 2px solid #f7f7fa;
    background-color: #f7f7fa;
    margin-top: 2em;
}

.outside {
    width: 90%;
    margin: auto;
}

.head {
    width: 100%;
    margin: auto;
    padding: 1em 0em;
}

.name {
    margin-left: 40%;
    display: inline-block;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 0.5em;
    font-size: 1.5em;
}

.name p {
    font-size: 1.5em;
    margin-bottom: 0;
}

p input {
    width: 35%;
    border: 4px solid #f7f7fa;
    border-radius: 5px;
    padding: .5em 1em;
    margin: 0 0 1.5em 1em;
    font-size: .8em;
    color: black;
    letter-spacing: 3px;
    text-indent: 3px;
}

.option1 {
    width: 30%;
    border: 4px solid #f7f7fa;
    border-radius: 5px;
    padding: .5em 1em;
    margin: 0 0 0 1em;
    font-size: .8em;
    color: black;
    font-size: 1.2em;
    list-style: circle;
    letter-spacing: 4px;
    font-size: 1em;
}

.dot {
    /* width:20%; */
    font-size: 1.2em;
    list-style: circle;
    margin-top: 2em;
    /* background-color:#f7f7fa; */
}

.left {
    font-size: 1.8em;
}

.content {
    font-size: 1.2em;
    list-style: circle;
    letter-spacing: 4px;
    font-size: 1em;
    /* text-indent:1.5em; */
}

.content2 {
    margin: 1.5em 0;
}

.information {
    width: 100%;
    margin: 1.5em 0;
    padding: 0 1.5em;
}

.outside img {
    width: .75em;
    height: .75em;
}

.information p {
    margin: .8em 0;
}

.go {
    width: 5em;
    height: 2em;
    color: white;
    background-color: rgb(19, 156, 19);
    border: 0px;
    border-radius: 5px;
    font-size: 1em;
}

.coupon_btn {
    width: 6.5em;
    height: 2.4em;
    background-color: #f7f7fa;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    /* display: inline-block; */
    color: white;
    font-size: 1em;
    padding: .5em .6em;
}

.send {
    width: 6.5em;
    height: 2.7em;
    background-color: #fc6471;
    border: 3px solid #fc6471;
    border-radius: 5px;
    font-size: 1em;
    /* display: inline-block; */
    color: white;
    font-size: 1em;
    padding: .5em .6em;
    margin-left: 83%;
}

.send:hover{
    background-color: white;
    color:#fc6471 ;
   
}
.send:active{
    color: rgb(64, 64, 216);
}
/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #f7f7fa;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.check {
    letter-spacing: .2em;
    font-weight: bold;
}

.list_title {
    letter-spacing: .2em;
}

@media screen and (max-width: 768px) {
    .tab {
        width: 500px;
    }
    .tabcontent {
        width: 500px;
    }
    .option1 {
        width: 18em;
    }
    .result {
        width: 26em;
    }
    .name {
        margin-left: 35%;
    }
    p input {
        width: 15em;
        height: 3em;
        text-indent: 2px;
        padding: .5em 0em;
    }
    .container {
        width: 80%;
    }
    .name p {
        font-size: 1.3em;
    }
    .d-block {
        height: 20vh !important;
    }
    .information {
        font-size: .8em;
    }
    .dot {
        font-size: 1.5em;
    }
    .tab {
        width: 50%;
    }
    .tab button {
        font-size: 1em;
    }
    .hr {
        width: 50%
    }
    .content {
        font-size: 1em;
    }
    .send {
        margin-left: 76%;
    }
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

@media screen and (max-width: 400px) {
    .tab {
        width: 250px;
    }
    .tabcontent {
        width: 250px;
    }
    .p input {
        height: 3em;
    }
    .option1 {
        width: 54%;
        height: 8%;
    }
    .content {
        font-size: 1em;
    }
    .head {
        width: 75%;
    }
    .coupon_btn {
        width: 7em;
        height: 3em;
        font-size: .8em;
        margin-left: 62%;
    }
    .cancle_btn {
        width: 7em;
        height: 3em;
        font-size: .8em;
        margin-left: 62%;
    }
    .tab {
        width: 90%;
    }
    .result {
        width: 38em;
        height: 20em;
        display: block;
        margin-left: 0;
        margin-top: 1.5em;
        font-size: .5em;
    }
    .name p {
        font-size: .8em;
        margin-left: 0%;
    }
    .information {
        margin: 0 0;
        padding: .5em 0;
        margin-left: 1em;
    }
    .send {
        width: 5em;
        font-size: .8em;
        margin-left: 65%;
    }
    .container {
        width: 90%;
    }
    .a_icon_circle {
        width: 3em;
        height: 3em;
    }
    .a_icon_circle img {
        width: 1.5em;
        height: 1.5em;
    }
    .item_text a {
        font-size: .5em;
        letter-spacing: 0px;
        text-indent: 0px;
    }
    .information {
        width: 100%;
    }
    .dot {
        font-size: 1em;
    }
    .go {
        font-size: .75em;
    }
    .left {
        font-size: 1.5em;
    }
    .option1 {
        text-indent: 0px;
    }
}

.reserveinform {
    background-color: #D5D5E9;
    padding: 1.5em 1.5em;
    font-weight: bold;
    margin-top: 20px;
    border-radius: .5em;
}

@media screen and (max-width: 768px) {
    .tab {
        width: 500px;
    }
    .tabcontent {
        width: 500px;
    }
}

@media screen and (max-width: 400px) {
    .tab {
        width: 250px;
    }
    .tabcontent {
        width: 250px;
    }
    .btn {
        font-size: 0.5em;
    }
    .tab button {
        font-size: 8px;
    }
    .option1 {
        width: 70%;
        margin: 0;
    }
    .name {
        margin-left: 25%;
        font-size: 1em;
    }
    .content {
        font-size: .7em;
        margin-bottom: 3px;
        margin-top: 5px;
    }
    .send{
       width:5.5em ;
    }
}

.btn {
    margin: 1em 0em;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 1.5em 0;
    border: 8px solid #f7f7fa;
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 3em;
    color: #808080;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#information {
    display: none;
}

#information.active {
    display: block;
}

.tab {
    display: none;
}