.btn_wrap{
    width: 30%;
    margin: auto;
    /* background-color: #ffa; */
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}
.btn_wrap a{
    display: inline-block;
    font-size: 1.25em;
    padding: .25em .5em;
    background-color: #f7f7fa;
    border: 5px solid #f7f7fa;
    border-radius: 10px;
    letter-spacing: 5px;
    text-indent: 5px;
}