* {
    color: #808080;
    text-decoration: none;
}
.act_wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.act_wrap img {
    width: 3em;
    height: 3em;
}

.a_icon_circle {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: #f7f7fa;
    display: grid;
    place-items: center;
}

.item_text {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.item_text a {
    display: inline-block;
    /* background-color: #ffa; */
    width: 6em;
    text-align: center;
    letter-spacing: 6px;
    text-indent: 6px;
}

hr {
    width: 100%;
    border: 2px solid #f7f7fa;
    background-color: #f7f7fa;
    margin-top: 2em;
}
.info_wrap {
    width: 90%;
    padding: 2% 3%;
    border: 6px solid #f7f7fa;
    border-radius: 20px;
    margin: auto;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.icon_group img {
    width: 1.5em;
    height: 1.5em;
}
.icon_group2 img {
    width: 1.5em;
    height: 1.5em;
}


.icon_group {
    height: 10em;
    /* background-color: #c31; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 9em;
}
.icon_group2 {
    height: 10em;
    /* background-color: #c31; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 9em;
}
.delete_reserve{
    color: #fc6471;
}
.upper a:nth-child(2) {
    margin-left: 1.75em;
}

.upper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.upper2 {
    
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.text p:nth-child(1) {
    color: #c31;
}
.situation{
    width:70%;
    display:flex !important;
    align-items:center;
    justify-content:space-evenly;
    margin: auto;
    margin-top:3em;
}
.cancle_btn{
    width:7em;
    height: 3em;
    background-color: #f7f7fa;
    border: solid 3px #D5D5E9;
    border-radius: 15px;
    font-size:1em;
    /* display: inline-block; */
    color: #808080;
    font-size: 1em;
    letter-spacing: 1.2px;
    margin-left: 5%;
    text-align: center;
    font-weight: bold;
}
.cancle_btn:hover{
    background-color: rgb(150, 145, 145);
    color: white;
}
.cancle_btn:active{
    
    color: red;
}
.btn1{
    width:100px;
    height: 45px;
    background-color:#fc6471;
    color: white;
    border-radius: 5px;
    border: solid 3px #f7f7fa;
    margin-top: 15px;
}
.btn1:hover{
    background-color:#fff;
    color: #fc6471;
}
h4{
    font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .btn1{
       margin-top: 25px;
        height: 40px;
        font-size: 1em;
    }
    .icon_group2 {
        margin-left: 0;
    }
    .text {
        width: 34%;
    }
    .graphic img {
        width: 200px;
        height: 130px;
    }
    .text p {
        font-size: .5em;
    }
    .info_wrap {
        width: 100%;
    }
    h5{
        font-size: 1em;
    }
    .text{
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px) {
    h4{
        font-size: 1em;
    }
    h5{
        font-size: .8em;
    }
    .btn1{
        margin-top: 28px;
        width: 40px;
        height: 87px;
        font-size: .3em;
    }
    .a_icon_circle {
        width: 3em;
        height: 3em;
    }
    .a_icon_circle img {
        width: 1.5em;
        height: 1.5em;
    }
    .item_text a {
        font-size: .5em;
        letter-spacing: 0px;
        text-indent: 0px;
    }
    .info_wrap {
        flex-wrap: wrap;
        padding: 2em;
    }
    .graphic img {
        height: 120px !important;
        width: 200px !important;
    }
    .text {
        width: 70%;
        margin-top: 2em;
    }
    
    .icon_group2 {
        justify-content: space-between;
        margin: 0;
        width: 10%;
        margin-top: 0em;
        height: 2em;
        margin-bottom: 5em;
    }
    .upper2 {
        width: 5em;
       
    }

    .trash_img{
       margin-top:2.1em;
        width: 1em;
        height: 1em;
        display: flex;
        align-content: flex-end;
    }
    .icon_group2 img {
        width: 1.8em;
        height: 1em;
    }
    .cancle_btn{
        font-size: .8em;
        width: 7em;
        height: 4em;
    }
    
}
.press_btn{
    color:#fc6471;
    letter-spacing:1.2px;
}
