* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

html {
    height: 100%;
}

header {
    width: 100%;
    height: 12vh;
    background-color: #f7f7fa;
    display: flex !important;
    align-items: center;
    padding: 0 20px;
    /* justify-content: space-between; */
    box-sizing: border-box;
    /* position: fixed; */
    justify-content: space-between;
}

header img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.all {
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    align-items: center;
    letter-spacing: 7px;
    text-indent: 7px;
    /* font-weight: 300; */
    padding: 0 10px;
    font-size: 1em;
}

.title img {
    display: none;
}

#menu-wrap {
    width: 60%;
    height: 88vh;
    background-color: #f7f7fa;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* test */
    /* display: none; */
}

.main {
    height: 88vh;
    overflow-y: auto;
    padding: 1.5em 2em;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: #c31; */
}

.option-wrap {
    width: 100%;
    text-align: center;
}

.icon img {
    width: 5.5em;
    height: 5em;
    /* border-radius: 50%;
    background-color: #ffa; */
}

.icon {
    text-align: center;
    /* background-color: #c31; */
}

.icon_circle {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    background-color: #FDB2B8;
    display: grid;
    place-items: center;
}

.icon span {
    /* margin: 20px 0 0; */
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-indent: 7px;
    color: #d3d3d3;
    text-align: center;
    margin: 30px 0 0;
}

.option-wrap a {
    text-decoration: none;
    color: #808080;
    letter-spacing: 3px;
    text-indent: 3px;
    margin: 30px 0;
    display: block;
    font-size: .8em;
}

.sub-wrap {
    width: 80%;
    height: 80%;
    display: grid;
    place-items: center;
}

.func_wrap {
    /* background-color: #ffa; */
    display: flex;
}

.sub {
    width: 50%;
    display: flex;
}

.else {
    display: flex;
    justify-content: center;
}

.else img {
    width: 1.5em;
    height: 1.5em;
    margin: 0 1em;
    margin-top: .5em;
}

.func_wrap {
    display: none;
}


/* @media screen and (min-width: 769px) and (max-width: 1440px) {
    .all {
        display: flex;
    }
    header {
        order: 1;
        height: 20vh;
    }
    #menu-wrap {
        height: 100vh;
        width: 30em;
        position: relative;
        order: 0;
        display: flex;
    }
    .title span {
        padding: 0 10px;
        font-weight: 300;
    }
    .menu img {
        display: none;
    }
    .title img {
        display: block;
        width: 6%;
        height: 6%;
    }
} */

@media screen and (min-width: 768px) {
    header {
        font-size: 2.2rem;
        padding: 0 40px;
    }
    .menu img {
        width: 33px;
        height: 33px;
    }
    .title span {
        letter-spacing: 15px;
        text-indent: 15px;
    }
    .title {
        padding: 0 30px;
    }
    #menu-wrap {
        width: 30%;
    }
    .option-wrap a {
        font-size: 1.05em;
        margin-top: 50px;
    }
    .else {
        display: none;
    }
    .func_wrap {
        display: flex;
    }
    .func_wrap a {
        display: inline-block;
        text-decoration: none;
        font-size: .1em;
        text-transform: uppercase;
        letter-spacing: 1em;
        padding: 3px 8px;
        margin: 0 5em;
        color: black;
    }
    .func_wrap a:hover {
        background: rgb(73, 71, 71);
        color: white;
        transition: ease-in-out all .4s;
    }
    .func_wrap img {
        width: 0.5em;
        height: 0.5em;
        margin: 0 .4em;
    }
    .menu img {
        width: .8em;
        height: .8em;
    }
    .title span {
        font-size: .7em;
    }
    .main {
        padding: 2em 3em;
        box-sizing: border-box;
    }
}

#menu-wrap {
    display: flex;
}