
.d-block {
    width: 80%;
    height: 40vh !important;
    margin: auto;
    margin-top: 1em;
}

.act_wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.act_wrap img {
    width: 3em;
    height: 3em;
}

.a_icon_circle {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: #f7f7fa;
    display: grid;
    place-items: center;
}

.item_text a {
    display: inline-block;
    /* background-color: #ffa; */
    width: 6em;
    text-align: center;
    letter-spacing: 6px;
    text-indent: 6px;
    color: #808080;
}

.option1 {
    width: 60%;
    border: 4px solid #f7f7fa;
    border-radius: 5px;
    padding: .5em 1.2em;
    margin: 0 0 0 1em;
    font-size: .8em;
    color: black;
    font-size: 1.2em;
    list-style: circle;
    letter-spacing: 4px;
    text-indent: 2px;
    font-size: 1em;
    
}

.situation {
    width: 70%;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

hr {
    width: 100%;
    border: 2px solid #f7f7fa;
    background-color: #f7f7fa;
    margin-top: 2em;
    z-index: -100;
}

.outside {
    width: 75%;
    height: 100%;
    margin: auto;
}

.name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.5em;
    margin-left: 33%;
    color: #808080;
}

.head {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 1.5em 0;
    border: 8px solid #f7f7fa;
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 3em;
    color: #808080;
}

.name p {
    font-size: 1.5em;
    margin-bottom: 0;
}

p input {
    width: 35%;
    border: 4px solid #f7f7fa;
    border-radius: 5px;
    padding: .5em 1em;
    margin: 0 0 1.5em 1em;
    font-size: .8em;
    color: black;
    letter-spacing: 3px;
    text-indent: 3px;
}

.content2 {
    display: inline-block;
    width: 30%;
    border: 4px solid #f7f7fa;
    border-radius: 5px;
    padding: .5em 1em;
    margin: 0 0 1.5em 1em;
    font-size: .8em;
    color: black;
    letter-spacing: 3px;
    text-indent: 3px;
    margin-left: 1.4em;
}

.grayspace {
    display: flex;
    justify-content: center;
    margin: 0 0;
    width: 70%;
    border: 2px solid #D5D5E9;
    background-color: #f7f7fa;
    border-radius: 1em;
    padding: 1em 1em;

}

.form {
    width: 85%;
    margin: auto;
}

.dot {
    /* width:20%; */
    font-size: 1.2em;
    list-style: circle;
    margin-top: 2em;
    /* background-color:#f7f7fa; */
}

.left {
    font-size: 1.8em;
}

.content {
    font-size: 1.2em;
    list-style: circle;
    letter-spacing: 4px;
    font-size: 1em;
}

.middlespace {
    margin: auto;
    display: flex;
    align-items: center;
    justify-items: center;
}

.middletext {
    width: 100%;
    font-size: 1.2em;
    list-style: circle;
    letter-spacing: 4px;
    font-size: 1em;
    font-weight: bold;
    margin: auto;
    padding: 2.5em 0;
}

.middletext2 {
    width: 100%;
    font-size: 1.2em;
    list-style: circle;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: bold;
    padding: .5em .5em;
}



.content2 {
    font-size: 1.2em;
    list-style: circle;
    font-size: .8em;
    color: black;
    letter-spacing: 3px;
    text-indent: 3px;
    margin: 1.5em 0;
    height: 3.75em;
}



.information {
    width: 80%;
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
}

.information2 {
    width: 100%;
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
}

.middlespace {
    width: 100%;
    /* margin:1.5em 0; */
}

.outside img {
    width: .75em;
    height: .75em;
}

.information p {
    margin: .8em 0;
}

.go {
    width: 5em;
    height: 2em;
    color: white;
    background-color: rgb(19, 156, 19);
    border: 0px;
    border-radius: 5px;
    font-size: 1em;
}

.sending {
    height: 20px;
    width: 20px;
}

.coupon_btn {
    letter-spacing: 1.2px;
    font-weight: bold;
    width: 4em;
    height: 2.2em;
    background-color: #D5D5E9;
    border: 0;
    border-radius: 10px;
    font-size: .8em;
    /* display: inline-block; */
    color: white;
    font-size: 1em;
    margin-left: 0;
    margin-right: .5em;
}

.cancle_btn{
    width:6.5em;
    height: 2.4em;
    background-color: #f7f7fa;
    border: solid 3px #D5D5E9;
    border-radius: 15px;
    font-size:1em;
    /* display: inline-block; */
    color: #808080;
    font-size: 1em;
    letter-spacing: 1.2px;
    margin-left: 5%;
    text-align: center;
}
.cancle_btn:hover{
    background-color: rgb(150, 145, 145);
    color: white;
}
.cancle_btn:active{
    
    color: red;
}

.result {
    color: #808080;
    word-wrap: break-word;
    /* display: inline-block; */
    font-weight: bold;
    display: flex;
    width: 30em;
    height: 12em;
    border: 5px solid #D5D5E9;
    margin-left: 25%;
    padding: 1.5em 1.5em;
    border-radius: 8px;
    position: relative;
}

.send {
    width: 6.5em;
    height: 2.4em;
    background-color: #fc6471;
    border: 0;
    border-radius: 5px;
    font-size: 1em;
    /* display: inline-block; */
    color: white;
    font-size: 1em;
    padding: .5em .6em;
    margin-left: 88%;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #f7f7fa;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.check {
    letter-spacing: .2em;
    font-weight: bold;
}

.list_title {
    letter-spacing: .2em;
}
.select_box{
    width: 100%;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .head {
        width: 100%;
    }
    .name {
        margin-left: 30%;
    }
    .outside {
        width: 95%;
    }
    .option1 {
        width: 18em;
    }
    .result {
        width: 26em;
    }
    .name {
        margin-left: 45%;
    }
    p input {
        width: 15em;
        height: 3em;
        text-indent: 2px;
        padding: .5em 0em;
    }
    .container {
        width: 80%;
    }
    .name p {
        font-size: 1.3em;
    }
    .d-block {
        height: 20vh !important;
    }
    .information {
        font-size: .8em;
    }
    .dot {
        font-size: 1.2em;
    }
    .tab {
        width: 50%;
    }
    .tab button {
        font-size: 1em;
    }
    .hr {
        width: 50%
    }
    .content {
        font-size: 1.2em;
    }
    .send {
        margin-left: 78%;
    }
}

@media screen and (max-width: 400px) {
    .phonespan{
        margin-right: 10px;
    }
    .cancle_btn {
        margin-left: 0%;
    }
    .p input {
        height: 3em;
    }
    .option1 {
        width: 54%;
        height: 8%;
    }
    .content {
        font-size: 1em;
    }
    .head {
        width: 75%;
    }
    .coupon_btn {
        width: 7em;
        height: 3em;
        font-size: .8em;
        margin-left: 62%;
    }
    .cancle_btn {
        width: 7em;
        height: 3em;
        font-size: .8em;
        margin-left: 62%;
    }
    .tab {
        width: 90%;
    }
    .result {
        width: 38em;
        height: 20em;
        display: block;
        margin-left: 0;
        margin-top: 1.5em;
        font-size: .5em;
    }
    .name p {
        font-size: .8em;
        margin-left: 0%;
    }
    .information {
        margin: 0 0;
        padding: .5em 0;
        margin-left: 1em;
    }
    .send {
        width: 5em;
        font-size: .8em;
        margin-left: 62%;
    }
    .container {
        width: 90%;
    }
    .a_icon_circle {
        width: 3em;
        height: 3em;
    }
    .a_icon_circle img {
        width: 1.5em;
        height: 1.5em;
    }
    .item_text a {
        font-size: .5em;
        letter-spacing: 0px;
        text-indent: 0px;
    }
    .information {
        width: 100%;
    }
    .dot {
        font-size: 1em;
    }
    .go {
        font-size: .75em;
    }
    .left {
        font-size: 1.5em;
    }
    .option1 {
        text-indent: 0px;
    }
}

.ti {
    width: 78%;
    height: 3%;
    border: 1px solid #d5d5e9;
    margin: auto;
    background-color: #d5d5e9;
}

.hr {
    width: 100%;
    border: 2px solid #D5D5E9;
    background-color: #D5D5E9;
    color: #D5D5E9;
    margin-top: 2em;
}

.headmessage {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #d5d5e9;
}

.conversation {
    font-size: 20px;
    letter-spacing: 4px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 15px 40px;
    color: #808080;
}

.tt {
    width: 100%;
    height: 250px;
    border: 3px solid #d5d5e9;
    border-radius: 5px;
    padding: 1em;
    box-sizing: border-box;
    font-size: 1em;
    color: black;
    letter-spacing: 3px;
    text-indent: 3px;
    align: center;
}

.message {
    margin: 5px 0 0 5px;
    padding: 0 0;
    box-sizing: border-box;
    text-transform: lowercase;
}

.M_enter input {
    border: 2px solid #fc6471;
    height: 5em;
    width: 8em;
}

.spacing {
    letter-spacing: 4px;
    font-weight: bold;
}

.m_cancel_btn {
    letter-spacing: 4px;
    height: 20%;
    font-weight: bold;
    width: 50%;
    text-align: center;
    color: #fc6471;
    border: 2px solid #fc6471;
    background-color: white;
    border-radius: 3px;
}

.m_submit_btn {
    font-weight: bold;
    width: 50%;
    text-align: center;
    color: white;
    border: 1px solid #fc6471;
    background-color: #fc6471;
    margin-left: 30px;
    border-radius: 3px;
}

.message_btn {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
    .middletext2{
        padding: 0px;
    }
    .data{
        width: 100%;
        padding: 2px;
    }
    .information{
        width:100%;
    }
    .container {
        height: auto;
    }
   
    .coupon_btn {
        margin-right: 0px;
    }
    .container {
        width: 95%;
    }
    .name {
        margin-left: 28%;
    }
    
    .content3 {
        
        margin-left: 0em;
    }
    .content2 {
        width: 18.5em;
    }
    .coupon_btn{
        margin-right: 2px;
    }
    .select_box{
        width: 95%;
    }
}

@media screen and (max-width: 400px) {
    .middletext2{
        padding:.5em .5em;
    }
    .content3{
        margin: 0 0 ;
    }
    .h4{
        font-size: .8em;
    }
    .h3{
        font-size: .8em;
    }
    .num1{
        font-size: .8em;
    }
    .num{
        font-size: .6em;
    }
    .content{
        letter-spacing: 0px;
        
    }
    .option1{
        width:70%;
        margin-left:0;
    }
    .m_submit_btn {
        width: 60%;
    }
    textarea {
        margin: 0px;
        padding: 0.5px;
    }
    .container {
        
        height: auto;
    }
    .coupon_btn {
        width: 4em !important;
        margin-left: .7em !important;
    }
    .cancle_btn {
        margin-left: 7%;
    }
    .name p {
        font-size: 0.7em;
        margin-left: 0%;
        font-weight: bold;
    }
    .head {
        width: 100%;
    }
    .container {
        width: 95%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    
    .grayspace{
        width:95%;
    }
    .now_user {
        font-size: 1em;
    }
    .stuation {
        width: 60%;
    }
    .name {
        margin-left: 15%;
    }
    
}
.press_btn{
    color:#fc6471;
    letter-spacing:1.2px;
}
.now_user {
    width: 100%;
    font-size: 1em;
    color: rgb(35, 35, 94);
    font-weight: bold;
}
.num {
    font-size: 1.2em;
    color: #fc6471;
}
.num1 {
    font-size: 1.5em;
    color: #fc6471;
}
.plane{
    width:15px;
    height:15px;
}
.select_btn{
    width:65%;
    display: flex;
    justify-content: center;
}
.content3 {
    font-size: 1em;
    list-style: circle;
    font-size: .8em;
    color: #808080;
    letter-spacing: 4px;
    text-indent: 3px;
    margin: 0em 0;
    /* height: 3.75em; */
}
.data {
    font-weight: normal;
    margin-left: 1.3em;
    letter-spacing:1.2px;
}
