* {
    color: #808080;
    text-decoration: none;
}
.act_wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.act_wrap img {
    width: 3em;
    height: 3em;
}

.a_icon_circle {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: #f7f7fa;
    display: grid;
    place-items: center;
}

.item_text {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.item_text a {
    display: inline-block;
    /* background-color: #ffa; */
    width: 6em;
    text-align: center;
    letter-spacing: 6px;
    text-indent: 6px;
}

hr {
    width: 100%;
    border: 2px solid #f7f7fa;
    background-color: #f7f7fa;
    margin-top: 2em;
    z-index: -10;
}
.text {
    width: 40%;
}
.text h2{
    font-size: 22px;
    font-weight: bold;
}
.info_wrap {
    width: 90%;
    padding: 2% 3%;
    border: 6px solid #f7f7fa;
    border-radius: 20px;
    margin: auto;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.icon_group img {
    width: 1.5em;
    height: 1.5em;
}


.icon_group {
    height: 10em;
    /* background-color: #c31; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 9em;
}

.upper a:nth-child(2) {
    margin-left: 1.75em;
}

.upper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.text p:nth-child(1) {
    color: #c31;
}

@media screen and (max-width: 768px) {
    .icon_group {
        margin-left: 0;
    }
    .text {
        width: 34%;
    }
    .graphic img {
        width: 200px;
        height: 130px;
    }
    .text p {
        font-size: .5em;
    }
    .info_wrap {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .a_icon_circle {
        width: 3em;
        height: 3em;
    }
    .a_icon_circle img {
        width: 1.5em;
        height: 1.5em;
    }
    .item_text a {
        font-size: .5em;
        letter-spacing: 0px;
        text-indent: 0px;
    }
    .info_wrap {
        flex-wrap: wrap;
        padding: 1em;
    }
    .graphic img {
        height: 135px;
    }
    .text {
        width: 85%;
        margin-top: 2em;
    }
    .icon_group {
        justify-content: space-between;
        margin: 0;
        width: 90%;
        margin-top: 2em;
        height: 2em;
    }
    .upper {
        width: 5em;
    }
}

/* .icon_group2 img {
    width: 1.5em;
    height: 1.5em;
}


.icon_group2 {
    height: 5.8em;
    background-color: #c31;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 9em;
    
}
.icon_group2 input {
    width:80px;
    height: 30px;
    color: white;
    background-color: #fc6471;
    border: 1px solid #fc6471 ;
    border-radius: 5px;
    margin-top: 3em;
} */