.container {
    width: 80%;
    margin: auto;
    /* background-color: #ffa; */
    padding: 1.5em 0;
    border: 8px solid #f7f7fa;
    border-radius: 20px;
    margin-top: 1em;
}

form {
    width: 90%;
    margin: auto;
    /* background-color: #c31; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

input {
    width: 35%;
    margin: 3%;
    border: 6px solid #f7f7fa;
    border-radius: 10px;
    padding: .4em 1.25em;
    box-sizing: border-box;
    letter-spacing: 2px;
    text-indent: 2px;
    font-size: 1.25em;
    margin-left: -.5em;
}

select {
    width: 35%;
    margin: 3%;
    border: 6px solid #f7f7fa;
    border-radius: 10px;
    padding: .4em 1.25em;
    box-sizing: border-box;
    letter-spacing: 2px;
    text-indent: 2px;
    font-size: 1.25em;
    /* letter-spacing: 2px;
            text-indent: 2px; */
}

form p {
    width: 10%;
    letter-spacing: 2px;
    text-indent: 2px;
}


/* p:nth-child(4){
            margin: 1em;
        } */

.btn {
    width: 9vw;
    height: 6vh;
    font-size: 1em;
    border: 0;
    background-color: #fc6471;
    color: white;
}

.btn-wrap {
    width: 100%;
    /* background-color: #c31; */
    display: flex;
    justify-content: flex-end;
    margin: 0 0 -1em;
}

@media screen and (max-width:768px) {
    .btn {
        width: 14vw;
        height: 5vh;
        margin-right: 1.6em;
    }
    form p {
        width: 14%;
        letter-spacing: 1px;
        text-indent: 0.2px;
    }
    input {
        font-size: .5em;
    }
}

.container {
    /* display: grid;
    justify-items: center; */
    margin: 10vh 0;
}

input {
    width: 45%;
}

select {
    width: 45%;
}

p {
    display: inline;
    letter-spacing: 8px;
    /* margin: 1em 0; */
}

.row {
    width: 90%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}

.place {
    text-align: center;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    z-index: -100;
    margin: 0.5em;
}

.row-1 {
    width: 100%;
}

.btn {
    background-color: #fc6471;
    color: white;
    border-radius: 5px;
    margin: 1.6em 1.6em;
}

.col-md-12 {
    z-index: -100;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 15vh 0;
    }
    .row {
        display: inline-block;
    }
    p {
        width: 30% !important;
        text-align: left;
        /* display: inline-block; */
        margin: 2.5em !important;
        /* margin:1em 0; */
    }
    input {
        width: 60%;
    }
    select {
        width: 60%;
    }
    .col-md-12 {
        margin: 1em 0.5em 0 0.5em;
    }
    .btn {
        width: 15vw;
        height: 3vh;
        margin: 1.6em 1.6em 0 0;
        padding: 0 0 0.1em 0;
    }
}

@media screen and (max-width: 400px) {
    /* .col-sm{
        display: grid;
        justify-items:center;
    } */
    p {
        width: 100% !important;
        text-align: left;
        display: inline-block;
        margin-right: 0 !important;
        margin: 0em 0;
    }
    input {
        width: 100%;
    }
    select {
        width: 100%;
    }
    .btn {
        width: 50vw;
        height: 5vh;
        margin-left: 1.6em;
    }
}