
        *{
            padding: 0px;
            margin: 0px;
           
        }
        .circle{
            width: 30px;
            height: 30px;
            background-color: #D5D5E9;
            border-radius: 80%;
            padding: 2%;
            
            /* display: flex;
            align-items: flex-start; */
        }
        .cross{
            width: 10px;
            height: 10px;
            
        }
        body{
            display: flex;
            justify-content: center;
            align-items:center;
            height: 100vh;
        }
        .wp{
            width: 65%;
            height: 75%;
            border: 10px solid #F7F7FA;
            border-radius:20px ;
            padding: 2em 2em ;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .sub_wp{
            margin: 2em 2em 0;
            display: flex;
            width: 45em;
            /* background-color: #F7F7FA; */
            justify-content: space-around;
        }
        select{
            display: inline-block;
            border: 5px solid #F7F7FA;
            border-radius: 5px;
            height: 8vh;
            width: 32vh;
            color: #808080;
        }
        .button {
        width: 90px;
        height: 30px;
        display: inline-block;
        padding: 5px 8px;
        font-size: 10px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #D5D5E9;
        border: none;
        border-radius: 5px;
        box-shadow: 0 3px #999;
        margin-top: 1em;
        }

        .button:hover {background-color: #D5D5E9}

        .button:active {
        background-color: #D5D5E9;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        }
        .f{
            width: 73%;
            display: flex;
            justify-content: flex-end;
        }
        
        .input1{
            border: 5px solid #F7F7FA;
            border-radius: 5px;
            height: 6vh;
            width: 30vh;
            color: #808080;
        }
       
        textarea{
            border: 5px solid #F7F7FA;
            border-radius: 5px;
        }
  